:root {
    --gold: #e09c04;
    --orange: #f5af04;
    --faded-grey: rgba(0, 0, 0, 0.7);
    --light-gray: #c0bebd;
    --shadow: #8d98a7;
    --dark-blue: #3b5bed;
    --blue: #558cbe;
    --light-blue: #a0c2f0;
    --brown: #2e2817;
}


body {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 25px;
    word-wrap: break-word

}

header {
    background-image: url('./assets/gold-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

h1,
h2 {
    width: 800px;
    font-size: 25px;
    position: relative;
    top: 40px;
    font-weight: 600;
}

h1 {
    left: 20%;
}

h2 {
    color: black;
    padding-bottom: 50px;
    right: 35%;
}

p {
    font-family: 'Roboto', sans-serif;
    line-height: 15px;
    font-size: 12px;
}

.gold {
    color: var(--gold);
}

form {
    background-color: white;
    border-radius: 25px;
    position: relative;
}

.first-form {
    width: 360px;
    height: 490px;
    left: 60%;
    margin: 130px 40px;
}

.second-form {
    width: 800px;
    height: 400px;
    left: 18%;
    bottom: 250px;
}

.agree,
input::-webkit-input-placeholder {
    color: var(--light-gray);
    font-size: 11px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
}

a {
    color: var(--light-blue);
    text-decoration: none;
}

.privacy {
    position: absolute;
    right: 196px;
}

.agree-privacy {
    position: absolute;
    left: 305px;
}

.form-header {
    background-color: var(--orange);
    height: 28px;
    margin-top: 0;
    top: 0;
    padding: 30px 5px 17px;
    border-radius: 25px 25px 0 0;
    font-size: 15px;
}

input {
    margin: 8px;
    border-radius: 5px;
    border: 1px solid var(--light-gray);
    width: 220px;
    height: 18px;
    padding: 10px;
}

.agree-checkbox {
    position: relative;
    width: 15px;
    top: 1%;
    background-color: var(--light-blue);
}

.start-btn {
    width: 240px;
    height: 40px;
    background-color: var(--dark-blue);
    color: white;
    border-radius: 12px;
    border: none;
    margin-top: 60px;
    margin-bottom: 30px;
    box-shadow: 3px 3px 5px var(--shadow);
    cursor: pointer;
}

.start-btn:hover {
    color: black;
    background-color: var(--light-blue);
}

.trading-gold-div {
    color: var(--blue);
    width: 100%;
    background-color: var(--faded-grey);
    bottom: 30px;
    position: relative;
    height: 70px;
    padding: 20px 0;
}

.trading-gold-content {
    color: white;
    position: relative;
    width: 970px;
    left: 10%;
    font-size: 18px;
    line-height: 22px;
}

.strong {
    font-weight: 900;
    position: relative;
    top: 40px;
}

.card-logo {
    width: 70px;
    height: 40px;
    margin: 20px;
}

.paypal {
    width: 110px;
    height: 50px;
}

.invest-container {
    display: flex;
    justify-content: space-between;
    margin: 50px 60px;
    font-size: 20px;
}

.invest-div {
    width: 472px;
}

.man-img {
    width: 550px;
    height: 430px;
    margin-bottom: 10px;
}

.material-div {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 13px;
}

.material {
    width: 290px;
    height: 350px;
    background-color: var(--orange);
    margin: 15px 5px;
    padding: 20px;
    content: "\2B22";
}

.black {
    color: black;
}

.material-content {
    width: 185px;
    line-height: 20px;
    position: relative;
    left: 18%;
}

.book-img {
    margin-top: 10px;
}

.course-img {
    margin-top: 20px;
}

.limited-time-div {
    height: 180px;
    color: white;
    background-image: url('assets/limited-time-bg.jpeg');
    font-size: 20px;
    margin-top: 90px;
}

.limited-header {
    left: 15%;
    color: white;
    font-weight: 700;
}

.learning-btn {
    position: absolute;
    margin-top: 80px;
    right: 43%;
}

.secondary-main {
    background-image: url('assets/gold-heap.jpeg');
    background-repeat: no-repeat;
    color: white;
    background-size: cover;
    padding-top: 100px;
}

.secondary-header {
    font-size: 30px;
    background-color: var(--faded-grey);
    border-radius: 15px;
    height: 30px;
    width: 350px;
    padding: 30px;
    left: 30%;
    position: relative;
}

.arrow {
    position: relative;
    top: 10%;
}

.dot {
    width: 15px;
    height: 15px;
    background-color: var(--faded-grey);
    border-radius: 8px;
    position: relative;
}

.line {
    height: 190px;
    width: 4px;
    background-color: var(--faded-grey);
    margin-left: 5px;
}

.first-dot {
    left: 165px;
}

.second-dot {
    left: 8px;
    bottom: 8px;
}

.third-dot {
    left: 15px;
}

.last-dot {
    left: 170px;
    bottom: 7px;
}

.rounded-line {
    width: 150px;
    height: 150px;
    border-top-left-radius: 400px;
    border-top-right-radius: 5px;
    border-top: 4px solid var(--faded-grey);
    border-left: 4px solid var(--faded-grey);
    border-bottom: 0;
    transform: rotate(-90deg);
    margin: 0 20px;
}

.right-line {
    transform: rotate(-90deg);
}

.left-line {
    transform: rotate(-180deg);
}

.arrows {
    display: flex;
    width: 700px;
    left: 30%;
    padding-top: 10px;
    position: relative;
}

.make {
    margin-top: 120px;
}

.dilate{
    filter: url("#dilate_shape");
}

 .how-to-bg {
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    background: radial-gradient(closest-side, rgb(202, 202, 202) 70%, white);
    width: 360px;
    height: 330px;
} 

.how-to {
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    -webkit-clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    background-color: white;
    position: relative;
    width: 285px;
    height: 266px;
    top: 10%;
    margin-left: 35px;
    margin-top: 52px;
}

.how-to:before {
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    -webkit-clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    background: var(--orange);
    position: absolute;
    content: '';
    z-index: -1;
    width: 268px;
    height: 254px;
    right: 3%;
    top: 2%;
}

.how-to-container {
    display: flex;
    justify-content: center;
    position: relative;
    width: 70%;
    bottom: 170px;
    left: 11%;
    padding-bottom: 250px;
}

.how-to-item {
    filter: url('#goo');
}

svg {
    visibility: hidden; 
    position: absolute;
}

.how-to-content {
    width: 150px;
    position: relative;
    left: 25%;
    top: 25%;
    font-weight: 300;
}

.how-to-header {
    width: 200px;
    position: relative;
    left: 15%;
    top: 20%;
    font-weight: 600;
}

footer {
    background-color: var(--brown);
    color: white;
    height: 100px;
    padding: 50px;
    bottom: 0;
}

.footer-content {
    width: 905px;
    margin-left: 100px;
    font-weight: 300;
}


/*Media Queries For a Responsive Design: */

@media only screen and (max-width: 950px) {
    h1, h2 {
        width: 600px;
        font-size: 15px;
    }
    .first-form {
        width: 280px;
        height: 400px;
    }
    input {
        width: 200px;
        height: 15px;
    }
    .privacy {
        right: 150px;
    }
    .agree-privacy {
        left: 205px;
    }
    .start-btn {
        width: 200px;
        height: 25px;
        margin-top: 10%;
    }
    .trading-gold-div {
        height: 60px;
        padding: 15px 0;
    }
    .trading-gold-content {
        width: 850px;
        left: 2%;
        font-size: 14px;
        line-height: 20px;
    }
    .invest-container {
        margin: 20px 30px;
        font-size: 13px;
    }
    .invest-div {
        width: 350px;
    }
    .man-img {
        width: 450px;
        height: 330px;
    }
    .material {
        width: 200px;
        height: 280px;
        margin: 10px 3px;
        padding: 10px;
    }
    .material-content {
        width: 155px;
        line-height: 17px;
        left: 10%;
    }
    .gain {
        font-size: 14px;
    }
    .secondary-header {
        font-size: 20px;
        border-radius: 15px;
        height: 18px;
        width: 250px;
        padding: 20px;
    }
    .arrows {
        width: 600px;
        left: 24%;
    }
    .how-to-bg {
        width: 324px;
        height: 297px;
    }
    .how-to {
        width: 255px;
        height: 239px;
    }
    .how-to:before {
        width: 241px;
        height: 228px;
    }
    .how-to-content {
        width: 100px;
        top: 5%;
    }
    .how-to-header {
        left: 25%;
        top: 4%;
        width: 100px;
    }
    .second-form {
        width: 600px;
        height: 350px;
        left: 13%;
        bottom: 60px;
    }
    footer {
        height: 100px;
        padding: 30px;
    }
    .footer-content {
        width: 605px;
    }
}

@media only screen and (max-width: 800px) {
    h1, h2 {
        width: 500px;
        font-size: 14px;
    }
    .first-form {
        left: 30%;
        height: 450px;
        width: 250px;
    }
    .privacy {
        right: 85px;
    }
    .agree-privacy {
        left: 205px;
    }
    .start-btn {
        height: 25px;
        margin-top: 15%;
    }
    .trading-gold-content {
        width: 550px;
        left: 10%;
        font-size: 12px;
    }
    .invest-container {
        margin: 10px 20px;
        font-size: 11px;
    }
    .invest-div {
        width: 300px;
        margin-left: 20px;
    }
    .man-img {
        width: 330px;
        height: 270px;
    }
    .learning-btn {
        right: 40%;
    }
    .how-to-bg {
        width: 259px;
        height: 237px;
    }
    .how-to {
        width: 204px;
        height: 191px;
        right: 3%;
    }
    .how-to:before {
        width: 192px;
        height: 182px;
    }
    .footer-content {
        width: 505px;
    }
}
@media only screen and (max-width: 700px) {
    h1 {
        left: 13%;
    }
    .first-form {
        left: 25%;
    }
    .agree-privacy {
        left: 55px;
    }
    .trading-gold-content {
        width: 450px;
        left: 15%;
        font-size: 10px;
    }
    .invest-container {
        flex-direction: column;
    }
    .invest-div {
        width: 300px;
        margin-left: 25%;
    }
    .material-div {
        flex-direction: column;
        margin-left: 34%;
    }
    .limited-header {
        left: 10%;
        position: relative;
    }
    .learning-btn {
        left: 35%;
        margin-top: 50px;
    }
    .arrows {
        display: none;
    }
    .how-to-container {
        flex-direction: column;
        left: 30%;
        margin-top: 150px;
    }
    .make {
        margin-top: 0;
    }
    .second-form {
        width: 320px;
        height: 490px;
        margin-left: 13%;
        bottom: 200px;
    }
    footer {
        height: 150px;
        padding: 5px;
    }
    .footer-content {
        width: 405px;
        margin-left: 120px;
    }
}

@media only screen and (max-width: 590px) {
    h1 {
        width: 400px;
        font-size: 12px;
        left: 5%;
    }
    h2 {
        width: 300px;
        font-size: 11px;
        left: 1%;
    }
    .first-form {
        left: 15%;
    }
    .trading-gold-content {
        width: 350px;
    }
    .secondary-header {
        font-size: 13px;
        margin-left: 6%;
        width: 170px;
        height: 18px;
        padding: 8px;
    }
    footer {
        height: 190px;
    }
    .footer-content {
        width: 305px;
        margin-left: 25%;
    }
}